.grass {
  background: #48d0af;
}

.fire {
  background: #fb6c6c;
}

.water {
  background: #578fff;
}

.bug {
  background: #56d17a;
}

.poison {
  background: #b07cff;
}

.electric {
  background: #f1c344;
}

.ice {
  background: #75bdfd;
}

.fighting {
  background: #ca6d38;
}

.normal {
  background: #d6bda0;
}

.ground {
  background: #ce8a3c;
}

.dark {
  background: #0a332c;
}

.steel {
  background: #c6c6c6;
}

.psychic {
  background: #da4ea0;
}

.rock {
  background: #575757;
}

.fairy {
  background: #d18db5;
}

.ghost {
  background: #8e2edd;
}

.dragon {
  background: #bb2d2d;
}

.flying {
  background: #3ac3ec;
}
